<?xml version="1.0" encoding="UTF-8"?>

<suite name="Automation Test Suite">

	<listeners>
<!--		<listener class-name="org.uncommons.reportng.HTMLReporter" />-->
<!--		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
<!--		<listener class-name="listenerPages.testlistener" />-->
		<listener class-name="listenerPages.ExtentReportListener"/>

	</listeners>

	<test name="Regression suite 2">
		<classes>
			<class name="testobject.TC_00" />
		</classes>
	</test>


</suite>